.profile__addbutton {
  max-width: 150px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  padding: 14px 64px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 0 244px;
}
.profile__addbutton:hover{
  opacity: 0.6;
}
@media screen and (max-width: 1279px) {
  .profile__addbutton {
    max-width: 282px;
    margin:0 19px;
    padding: 15px 130px 15px 132px;
  }
}
